.container.home
  #content
    .title_main
      %span.title_words
        %span{ :style => "color: gray"}
          Jeff Pritchard
        = "&nbsp;".html_safe
        %span.small
          So many projects, so little time...        


    .underline-between-title-and-body
      .underline
        
    .middle-section
      .well.well-lg
        .primary-content
          .eye-candy
            #category_icon.home-image-footprint
              = image_tag 'https://s3.amazonaws.com/jeffp-images/small/CD0032%20-%20DSC_0028.jpg'

          .list-categories.lead
            = render :partial => "activity", :collection => @categories


  
      .add-category-link
        - if user_signed_in? && current_user.has_role?(:admin)
          = link_to "Add New Category", new_category_path
    

      .about-links
        .about-guy
          = link_to "About The Guy", url_for('/bio_blurb')
    
        .about-website
          = link_to "About The Website", url_for('/website_blurb')
  