.container.photo
  #content
    .section
      .row
        .col-md-7
          .title_main
            %span.title_words
              = link_to "Jeff Pritchard ", :index
              = "&nbsp;".html_safe
              Photograpy        

          
        .col-md-5
          %ul#tabs.nav.nav-tabs.pull-right{ :data => {:tabs => "tabs"} }
            / the javascript handler for tabs is picky about the hrefs - non jscript needs real hrefs
            - about_href = session[:using_jscript] ? '#about' : '/photos?active_tab=about'
            - small_href = session[:using_jscript] ? '#small' : '/photos?active_tab=small'
            - medium_href = session[:using_jscript] ? '#medium' : '/photos?active_tab=medium'
            - large_href = session[:using_jscript] ? '#large' : '/photos?active_tab=large'
      
            %li{ :class => "#{session[:active_tab] == 'about' ? 'active' : ''}"}
              = link_to "About", about_href, :data => {:toggle => "tab"}, :id => 'about-tab'
            %li{ :class => "#{session[:active_tab] == 'small' ? 'active' : ''}"}
              = link_to "Small", small_href, :data => {:toggle => "tab"}, :id => 'small-tab'
            %li{ :class => "#{session[:active_tab] == 'medium' ? 'active' : ''}"}
              = link_to "Medium", medium_href, :data => {:toggle => "tab"}, :id => 'medium-tab'
            %li{ :class => "#{session[:active_tab] == 'large' ? 'active' : ''}"}
              = link_to "Large", large_href, :data => {:toggle => "tab"}, :id => 'large-tab'
        
    .section
      .col-md-12.underline
        
    .section
        
      .row
        #my-tab-content.tab-content
          #about_pane_div.tab-pane{ :class => "#{session[:active_tab] == 'about' ? 'active' : ''}"}
            = render :partial => "about_pane"
            
          #small_pane_div.tab-pane{ :class => "#{session[:active_tab] == 'small' ? 'active' : ''}"}
            = render :partial => "small_pane"
            
          #medium_pane_div.tab-pane{ :class => "#{session[:active_tab] == 'medium' ? 'active' : ''}"}
            = render :partial => "medium_pane"
            
          #large_pane_div.tab-pane{ :class => "#{session[:active_tab] == 'large' ? 'active' : ''}"}
            = render :partial => "large_pane"



