.container
	#content
		.section
			%ul#tabs.nav.nav-tabs{ :data => {:tabs => "tabs"} }
				%li.active
					= link_to "Small", '#small', :data => {:toggle => "tab"}
				%li
					= link_to "Medium", '#medium', :data => {:toggle => "tab"}
				%li
					= link_to "Large", '#large', :data => {:toggle => "tab"}
				
			.pull-right.move_up
				= link_to 'Home', :index

			/ .col-md-1.filters_section_outer
			/ 	#filter_box
			/ 		filters
				
				
		.section
				
			.row
				#my-tab-content.tab-content
					.tab-pane.active#small
						.row
							= will_paginate @photos_small
				
						.row
							%ul.thumbnails.list-unstyled
								- @photos_small.each do |photo|
									%li.col-md-1
										.thumbnail_outer
											.thumbnail-small
												= image_tag photo.get_small_url, :class => 'img-thumbnail'


					.tab-pane#medium
						.row
							= will_paginate @photos_medium
				
						.row
							%ul.thumbnails.list-unstyled
								- @photos_medium.each do |photo|
									%li.col-md-3
										.thumbnail_outer
											.thumbnail-medium
												= image_tag photo.get_small_url, :class => 'img-thumbnail'



					.tab-pane#large
						.row
							.single_view
								= image_tag @photo_large.get_big_url
	
