.container
  #content
    .section
      .col-md-7
        .title_main
          %span.title_words
            = link_to "Jeff Pritchard ", :index
            = "&nbsp;".html_safe
            Photograpy        


          
      .col-md-5
        %ul#tabs.nav.nav-tabs.pull-right{ :data => {:tabs => "tabs"} }
          / the javascript handler for tabs is picky about the hrefs - non jscript needs real hrefs
          - about_href = session[:using_jscript] ? '#about' : '/photos?active_tab=about'
          - small_href = session[:using_jscript] ? '#small' : '/photos?active_tab=small'
          - medium_href = session[:using_jscript] ? '#medium' : '/photos?active_tab=medium'
          - large_href = session[:using_jscript] ? '#large' : '/photos?active_tab=large'
      
          %li{ :class => "#{session[:active_tab] == 'about' ? 'active' : ''}"}
            = link_to "About", about_href, :data => {:toggle => "tab"}, :id => 'about-tab'
          %li{ :class => "#{session[:active_tab] == 'small' ? 'active' : ''}"}
            = link_to "Small", small_href, :data => {:toggle => "tab"}, :id => 'small-tab'
          %li{ :class => "#{session[:active_tab] == 'medium' ? 'active' : ''}"}
            = link_to "Medium", medium_href, :data => {:toggle => "tab"}, :id => 'medium-tab'
          %li{ :class => "#{session[:active_tab] == 'large' ? 'active' : ''}"}
            = link_to "Large", large_href, :data => {:toggle => "tab"}, :id => 'large-tab'
        
    .section
      .col-md-12.underline
        
    .section
      .col-md-12        
        .row
          #my-tab-content.tab-content

            .tab-pane#about{ :class => "#{session[:active_tab] == 'about' ? 'active' : ''}"}
              .row
                .col-md-1
                .col-md-10
                  = render :partial => "about_blurb"
                .col-md-1
        
            .tab-pane#small{ :class => "#{session[:active_tab] == 'small' ? 'active' : ''}"}
              .row
                .col-md-1
                .col-md-7
                  .paginate_links
                    = will_paginate @photos_small, :param_name => :page_small, :params => { :active_tab => 'small'}
                .col-md-4
        
              .row
                %ul.thumbnails.list-unstyled
                  - @photos_small.each do |photo|
                    %li.col-md-1
                      .thumbnail_outer
                        .thumbnail-small
                          %a{ :href => "#{get_large_page_uri(photo, @all_selected_photos)}"}
                            = image_tag photo.get_small_url, :class => 'img-thumbnail'


            .tab-pane#medium{ :class => "#{session[:active_tab] == 'medium' ? 'active' : ''}"}
              .row
                .col-md-1
                .col-md-7
                  .paginate_links
                    = will_paginate @photos_medium, :param_name => :page_medium, :params => { :active_tab => 'medium'}
                .col-md-4
        
              .row
                %ul.thumbnails.list-unstyled
                  - @photos_medium.each do |photo|
                    %li.col-md-3
                      .thumbnail_outer
                        .thumbnail-medium
                          %a{ :href => "#{get_large_page_uri(photo, @all_selected_photos)}"}
                            = image_tag photo.get_small_url, :class => 'img-thumbnail'



            .tab-pane#large{ :class => "#{session[:active_tab] == 'large' ? 'active' : ''}"}
              .row
                .single_view
                  = render :partial => 'single_view_div'
