.container
	#content
		.section
			%ul#tabs.nav.nav-tabs{ :data => {:tabs => "tabs"} }
				%li{ :class => "#{session[:active_tab] == 'small' ? 'active' : 'not-active'}"}
					= link_to "Small", '#small', :data => {:toggle => "tab"}
				%li{ :class => "#{session[:active_tab] == 'medium' ? 'active' : 'not-active'}"}
					= link_to "Medium", '#medium', :data => {:toggle => "tab"}
				%li{ :class => "#{session[:active_tab] == 'large' ? 'active' : 'not-active'}"}
					= link_to "Large", '#large', :data => {:toggle => "tab"}
				
			.pull-right.move_up
				= link_to 'Home', :index

			/ .col-md-1.filters_section_outer
			/ 	#filter_box
			/ 		filters
				
				
		.section
				
			.row
				#my-tab-content.tab-content
					.tab-pane#small{ :class => "#{session[:active_tab] == 'small' ? 'active' : 'not-active'}"}
						.row
							= will_paginate @photos_small, :param_name => :page_small, :params => { :active_tab => 'small'}
				
						.row
							%ul.thumbnails.list-unstyled
								- @photos_small.each do |photo|
									%li.col-md-1
										.thumbnail_outer
											.thumbnail-small
												%a{ :href => "#{get_large_page_uri(photo, @all_selected_photos)}"}
													= image_tag photo.get_small_url, :class => 'img-thumbnail'


					.tab-pane#medium{ :class => "#{session[:active_tab] == 'medium' ? 'active' : 'not-active'}"}
						.row
							= will_paginate @photos_medium, :param_name => :page_medium, :params => { :active_tab => 'medium'}
				
						.row
							%ul.thumbnails.list-unstyled
								- @photos_medium.each do |photo|
									%li.col-md-3
										.thumbnail_outer
											.thumbnail-medium
												%a{ :href => "#{get_large_page_uri(photo, @all_selected_photos)}"}
													= image_tag photo.get_small_url, :class => 'img-thumbnail'



					.tab-pane#large{ :class => "#{session[:active_tab] == 'large' ? 'active' : 'not-active'}"}
						.row
							.single_view
								= render :partial => 'single_view_div'
