%p#notice= notice

%p
  %b Gui name:
  = @photo.gui_name
%p
  %b File name:
  = @photo.file_name
%p
  %b Tags:
  = @photo.tags

= link_to 'Edit', edit_photo_path(@photo)
\|
= link_to 'Back', photos_path
