%p#notice= notice

%p
  %b Name:
  = @category.name
%p
  %b Blurb:
  = @category.blurb
%p
  %b Css class:
  = @category.css_class
%p
  %b Icon:
  = @category.icon

= link_to 'Edit', edit_category_path(@category)
\|
= link_to 'Back', categories_path
