.container
  #content
    .section
      .col-md-12
        .title_main
          %span.title_words
            = link_to "Jeff Pritchard ", :index
            = "&nbsp;".html_safe
            = @category.name.capitalize        

    .section
      .col-md-12.underline
    
    .section
      .col-md-12
        .vertical_spacer
        %em
          - unless @activities.empty?
            = @category.blurb
          - else
            = "There is nothing in this category yet..."
          
    
    .section
      .col-md-12
        .vertical_spacer
      
    
    .section
      .col-md-12
        .well.well-lg
          = render :partial => "activity", :collection => @activities
    
