.container.home
  #content
    .title_main
      %span.title_words
        = link_to "Jeff Pritchard ", :index
        = "&nbsp;&nbsp;&nbsp;".html_safe
        = @category.name.capitalize        

    .underline-between-title-and-body
      .underline
    
    .normal-section
      %em
        - unless @activities.empty?
          = @category.blurb
        - else
          = "There is nothing in this category yet..."
          
    
    .normal-section
      .well.well-lg
        = render :partial => "activity", :collection => @activities
    

    - if user_signed_in? && current_user.has_role?(:admin)
      .normal-section
        = link_to "Add New Activity", new_activity_path
