%p#notice= notice

%p
  %b Name:
  = @activity.name
%p
  %b Description:
  = @activity.description
%p
  %b Icon:
  = @activity.icon
%p
  %b Url:
  = @activity.url
%p
  %b Category:
  = @activity.category_id

= link_to 'Edit', edit_activity_path(@activity)
\|
= link_to 'Back', activities_path
